In [29]:
import pandas as pd

In [30]:
raw_data = pd.read_csv('tags.csv')
raw_data.columns.values 
# create a new dataframe with the all the columns from raw_data but 'timestamp'
tags_df = raw_data.drop('timestamp', axis=1)

In [41]:
# print(tags_df.describe())
# tags_df.isna().values.any()
print(tags_df.info())
print(tags_df.shape)
print(f"There are {tags_df['movieId'].nunique()} unique movies in the database")
tags_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   userId   3683 non-null   int64
 1   movieId  3683 non-null   int64
 2   tag      3683 non-null   object
dtypes: int64(2), object(1)
memory usage: 86.4+ KB
None
(3683, 3)
There are 1572 unique movies in the database

   userId  movieId              tag
0       2    60756            funny
1       2    60756  Highly quotable
2       2    60756     will ferrell
3       2    89774     Boxing story
4       2    89774              MMA

##### Here's the information that I want to extract from the tags dataframe: I want to know the 3 most popular tags per movieId, then I will use this information in movie recommendation system.
##### We can disregard userIds here as it is irrelevant - well, unless the information is biased(tags are made by only selection of users, so let's check nunique values of userId first.)

In [42]:
# get me the nunique values of userId column
print(f"There are {tags_df['userId'].nunique()} unique users that are tagging movies - In my opinion that's wide enough critique range to disregard bias.")
# We can now drop 'userId' column
tags_df.drop('userId', axis=1, inplace=True)

There are 58 unique users that are tagging movies - In my opinion that's wide enough critique range to disregard bias.

In [45]:
# extract the 5 most popular tags per movieid, take only unique movieids. Then merge the 3 tags into one column across movieid column
top_tags_per_movie_df = tags_df.groupby('movieId').head(5).groupby('movieId').agg({'tag': ', '.join}).reset_index()
top_tags_per_movie_df.head(20)
# Let's create a checkpoint of this dataframe and copy it
tags_per_movie_df = top_tags_per_movie_df.copy()
# Now I want to extract top_tags_per_movie_df into a file to use in another .ipynb file
tags_per_movie_df.to_csv('tags_per_movie.csv', index=False)

#### Preprocessing of tags is thereby finished and we can use this dataframe in our project.